<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qunar.frc.demo5.dao.foo.DogDao">

    <sql id="selectFields">
        id as id ,
        name as name
    </sql>

    <select id="selectById" parameterType="int" resultType="DogModel">
        SELECT
        <include refid="selectFields"/>
        FROM
        foo.dog
        WHERE id = #{id}
    </select>
</mapper>