<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_170726:war exploded">
    <output-path>$PROJECT_DIR$/springMVC_170726/target/springMVC_170726</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_170726" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springMVC_170726/target/springMVC_170726/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVC_170726/web/Web" />
    </root>
  </artifact>
</component>