<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC170623:war exploded">
    <output-path>$PROJECT_DIR$/springMVC170623/target/springMVC170623</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC170623" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springMVC170623/target/springMVC170623/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVC170623/web/Web" />
    </root>
  </artifact>
</component>