<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Archetype Created Web Application</display-name>

<!--    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring_mybatis/spring_mybatis.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>-->

    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>javaweb.servlet.MyServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ondutyServlet</servlet-name>
        <servlet-class>javaweb.servlet.OndutyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ondutyServlet</servlet-name>
        <url-pattern>*.onduty</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>picServlet</servlet-name>
        <servlet-class>javaweb.servlet.PicHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>picServlet</servlet-name>
        <url-pattern>*.pic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sessionTracker</servlet-name>
        <servlet-class>javaweb.servlet.SessionTracker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionTracker</servlet-name>
        <url-pattern>*.t</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionTracker</servlet-name>
        <url-pattern>*.track</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>javaweb.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>*.f</url-pattern>
    </servlet-mapping>

    <!--filter-->

<!--    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.qunar.scm.permissions.auth.web.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>javaweb.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>*.auth</url-pattern>
    </filter-mapping>

<!--    <filter>
        <filter-name>loginRequestFilter</filter-name>
        <filter-class>javaweb.filter.LoginRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loginRequestFilter</filter-name>
        <url-pattern>*.login</url-pattern>
    </filter-mapping>-->




    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>javaweb.filter.MyFilter</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>菜鸟网站</param-value>
        </init-param>
        <init-param>
            <param-name>date</param-name>
            <param-value>2017-09-19</param-value>
        </init-param>
        <init-param>
            <param-name>company</param-name>
            <param-value>Qunar</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>*.pic</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>*.my</url-pattern>
    </filter-mapping>
<!--    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>-->

<!--

    <filter>
        <filter-name>delegatingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>delegatingFilter</filter-name>
        <url-pattern>*.dl</url-pattern>
    </filter-mapping>
-->

    <!--Listener-->
<!--    <listener>
        <listener-class>javaweb.listener.MyServletContextListener</listener-class>
    </listener>-->

<!--    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
    </context-param>-->

    <!--设置spring-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring_context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>Domain</param-name>
        <param-value>qunar.com;qunarman.com</param-value>
    </context-param>
    <context-param>
        <param-name>nologinUrl</param-name>
        <param-value>pages/nologin.html</param-value>
    </context-param>
    <context-param>
        <param-name>onduty_no_user_page</param-name>
        <param-value>pages/noregister.html</param-value>
    </context-param>
    <context-param>
        <param-name>noregisterUrl</param-name>
        <param-value>pages/noregister.html</param-value>
    </context-param>
    <context-param>
        <param-name>onduty_main_page</param-name>
        <param-value>pages/onduty_main.html</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--登录请求filter-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>javaweb.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>*.login</url-pattern>
    </filter-mapping>

    <!--访问请求的权限检查filter-->
    <filter>
        <filter-name>authCheckFilter</filter-name>
        <filter-class>javaweb.filter.AuthCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authCheckFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>

    <!--注销请求的filter-->
    <filter>
        <filter-name>logoutFilter</filter-name>
        <filter-class>javaweb.filter.LogoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logoutFilter</filter-name>
        <url-pattern>*.logout</url-pattern>
    </filter-mapping>

</web-app>



